<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}">
    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}">
    <title>상품 목록</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<div class="container">
    <div th:replace="layout/sidebar :: sidebar"></div>
    <div class="main-content">
        <div th:replace="layout/header :: header"></div>
        <div class="content">
            <!-- 상품 목록 화면 -->
            <div id="product-list">
                <div class="table-header">
                    <button class="btn btn-primary" data-screen="product-add" th:onclick="|location.href='@{/product/add}'|">+ 상품 등록</button>
                    <div class="search-box">
                        <input type="text" placeholder="상품명 검색">
                        <button class="btn btn-primary">검색</button>
                    </div>
                </div>

                <table>
                    <thead>
                    <tr>
                        <th>No</th>
                        <th>상품명</th>
                        <th>카테고리</th>
                        <th>현재고량</th>
                        <th>안전재고</th>
                        <th>상태</th>
                        <th>관리</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:onclick="|location.href='@{/product/detail/{id}(id=${product.id})}'|" th:each="product : ${products}">
                        <td th:text="${product.id}"></td>
                        <td th:text="${product.productName}"></td>
                        <td th:text="${product.category}"></td>
                        <td th:text="${product.currentStock} + ${product.unit}"></td>
                        <td th:text="${product.safetyStock} + ${product.unit}"></td>
                        <td class="status-normal" th:text="${product.currentStock == 0 ? '없음' : (product.currentStock < product.safetyStock ? '부족' : '정상')}"
                                                    th:class="${ product.currentStock == 0 ? 'status-danger' : (product.currentStock < product.safetyStock ? 'status-warning' : 'status-normal')}"></td>
                        <td th:onclick="event.stopPropagation()"> <!-- tr onclick 이벤트 버튼에는 적용X -->
                            <button class="btn btn-success" style="padding: 5px 10px; margin-right: 5px;">
                                <a class="btn-a" th:href="@{/product/edit/{id}(id=${product.id})}">수정</a>
                            </button>
                            <button class="btn btn-danger btn-delete" style="padding: 5px 10px;" data-type="상품" th:attr="data-id=${product.id}">삭제</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/js/app.js}"></script>
<script th:inline="javascript">

    const csrfToken = $("meta[name='_csrf']").attr('content');
    const csrfHeader = $("meta[name='_csrf_header']").attr('content');

    function addButtonEvent() {
        $(".btn-delete").on("click", function (e) {
           e.preventDefault();
           let type = $(this).data('type');
           let id = $(this).data('id');
           if (confirm('정말 이 ' + type + '을(를) 삭제하시겠습니까?\n삭제된 데이터는 복구할 수 없습니다.')) {
               deleteProduct(id);
           }
        });
    }

    //상품 삭제
    function deleteProduct(id) {
        $.ajax({
            url: `/product/${id}`,
            method: 'DELETE',
            beforeSend: function (xhr) {
                xhr.setRequestHeader(csrfHeader, csrfToken)
            },
            success: function (response) {
                if (response.success) {
                    alert(response.message);
                    window.location.href = '/product';
                }
            },
            error: function (xhr, status, error) {
                let response;
                try {
                    response = JSON.parse(xhr.responseText);
                } catch (e) {
                    alert("응답 데이터 처리 중 오류가 발생하였습니다");
                    return e;
                }

                let errorMessage = response.message;
                if (xhr.status === 404) {
                    alert(errorMessage);
                    return false;
                } else if (xhr.status === 500) {
                    alert(errorMessage);
                    return false;
                }
            }
        });
    }

    $(function () {
       addButtonEvent();
    });
</script>
</body>
</html>