<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>관리자</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<div class="container">
    <div th:replace="layout/sidebar :: sidebar"></div>
    <div class="main-content">
        <div th:replace="layout/header :: header"></div>
        <div class="content">
            <!-- 관리자 화면 -->
            <div id="admin">
                <div class="table-header">
                    <button class="btn btn-primary" th:onclick="|location.href='@{/admin/add}'|">+ 사용자 추가</button>
                    <div class="search-box">
                        <input type="text" placeholder="사용자 검색">
                        <button class="btn btn-primary">검색</button>
                    </div>
                </div>

                <table>
                    <thead>
                    <tr>
                        <th>No</th>
                        <th>아이디</th>
                        <th>이름</th>
                        <th>권한</th>
                        <th>등록일</th>
                        <th>관리</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="user:${users}">
                        <td th:text="${user.id}"></td>
                        <td th:text="${user.userId}"></td>
                        <td th:text="${user.userName}"></td>
                        <td><span style="color: #e74c3c; font-weight: bold;" th:text="${user.role}"></span></td>
                        <td th:text="${#temporals.format(user.regDate, 'yyyy-MM-dd')}"></td>
                        <td>
                            <button class="btn btn-success" style="padding: 5px 10px; margin-right: 5px;" th:onclick="|location.href='@{/admin/edit/{id}(id=${user.id})}'|">수정</button>
                            <button class="btn btn-danger btn-delete" style="padding: 5px 10px;" data-type="사용자">삭제</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script th:inline="javascript">

    function addButtonEvent() {

    }

    $(function () {
       addButtonEvent();
    });
</script>
<script th:src="@{/js/app.js}"></script>
</body>
</html>