<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>입고 내역</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<div class="container">
    <div th:replace="layout/sidebar :: sidebar"></div>
    <div class="main-content">
        <div th:replace="layout/header :: header"></div>
        <div class="content">
            <!-- 입고 내역 화면 -->
            <div id="inbound-list">
                <div class="table-header">
                    <div class="search-box">
                        <input type="date" value="2024-10-01">
                        <span style="padding: 10px;">~</span>
                        <input type="date" value="2024-10-28">
                        <button class="btn btn-primary">검색</button>
                    </div>
                </div>
                <table>
                    <thead>
                    <tr>
                        <th>No</th>
                        <th>입고일자</th>
                        <th>상품명</th>
                        <th>입고수량</th>
                        <th>공급업체</th>
                        <th>등록자</th>
                        <th>상세</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="inbound : ${inbounds}">
                        <td th:text="${inbound.id}"></td>
                        <td th:text="${inbound.inboundDate}"></td>
                        <td th:text="${inbound.productName}"></td>
                        <td th:text="${inbound.quantity}"></td>
                        <td th:text="${inbound.supplier}"></td>
                        <td th:text="${inbound.regUserId}"></td>
                        <td><button class="btn btn-primary" style="padding: 5px 10px;" th:onclick="|location.href='@{/inbound/detail}'|">보기</button></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/js/app.js}"></script>
</body>
</html>