<div class="header" th:fragment="header" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <h1 id="page-title">대시보드</h1>
    <div class="user-info">
        <span sec:authorize="hasAuthority('ADMIN')">
            👤 관리자 (<span sec:authentication="principal.userName"></span>) | <a href="/logout">로그아웃</a>
        </span>
        <span sec:authorize="hasAuthority('USER')">
            👤 사용자 (<span sec:authentication="principal.userName"></span>) | <a href="/logout">로그아웃</a>
        </span>
    </div>
</div>