<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>대시보드</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<div class="container">
    <div th:replace="layout/sidebar :: sidebar"></div>
    <div class="main-content">
        <div th:replace="layout/header :: header"></div>
        <div class="content">
            <div id="dashboard" class="screen active">
                <div class="dashboard-cards">
                    <div class="card">
                        <h3>총 재고 수량</h3>
                        <div class="value" style="cursor: pointer;" th:text="${totalStock}  + 개" th:onclick="|location.href='@{/inventory}'|"></div>
                    </div>
                    <div class="card success">
                        <h3>오늘 입고</h3>
                        <div class="value" style="cursor: pointer;" th:text="${todayInboundQty} + 건" th:onclick="|location.href='@{/inbound}'|"></div>
                    </div>
                    <div class="card info">
                        <h3>오늘 출고</h3>
                        <div class="value" style="cursor: pointer;" th:text="${todayOutboundQty} + 건" th:onclick="|location.href='@{/outbound}'|"></div>
                    </div>
                    <div class="card warning">
                        <h3>재고 부족 상품</h3>
                        <div class="value" style="cursor: pointer;" th:text="${stockShortageCount} + 개" th:onclick="|location.href='@{/inventory}'|"></div>
                    </div>
                </div>

                <h3 style="margin-bottom: 15px;">최근 입출고 내역</h3>
                <table>
                    <thead>
                    <tr>
                        <th>일시</th>
                        <th>구분</th>
                        <th>상품명</th>
                        <th>수량</th>
                        <th>담당자</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr style="cursor: pointer;" th:each="list : ${recentStockHistoryList}"  th:onclick="${list.type == 'IN'} ? 'location.href=\'/inbound/' + ${list.id} + '\'' :'location.href=\'/outbound/' + ${list.id} + '\''">
                        <td th:text="${#temporals.format(list.transactionDate, 'yyyy-MM-dd')}"></td>
                        <td><span th:style="${list.type == 'IN' ? 'color: #3498db;' : 'color: #e74c3c;'}" th:text="${list.type == 'IN' ? '입고' : '출고'}"></span></td>
                        <td th:text="${list.productName}"></td>
                        <td th:text="${list.quantity} + 개"></td>
                        <td th:text="${list.regUserName}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/js/app.js}"></script>
</body>
</html>
