<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.stockflow.mapper.outbound.OutBoundMapper">
    <select id="getOutBounds" resultType="outbound">
        SELECT id, outbound_no, product_id, product_name, product_code, outbound_date, quantity, reason, remarks, reg_user_id, reg_user_name, reg_date
        FROM v_outbound_list
        WHERE id > 0
        ORDER BY outbound_date DESC
        LIMIT #{skip}, #{amount}
    </select>

    <select id="getOutBound" resultType="outbound">
        SELECT id, outbound_no, product_id, product_name, product_code, outbound_date, quantity, reason, remarks, reg_user_id, reg_user_name, reg_date
        FROM v_outbound_list
        WHERE id = #{id}
    </select>

    <insert id="addOutBound">
        INSERT INTO outbound
        (
            outbound_no,
            product_id,
            outbound_date,
            quantity,
            reason,
            remarks,
            reg_user_id
        )
        VALUES
        (
            #{outBoundNo},
            #{productId},
            #{outboundDate},
            #{quantity},
            #{reason},
            #{remarks},
            #{regUserId}
        )
    </insert>

    <select id="findLastOutboundCodeByDate" resultType="String">
        SELECT outbound_no
        FROM outbound
        WHERE outbound_no LIKE CONCAT('OUT-', #{dateStr}, '%')
        ORDER BY outbound_no DESC
        LIMIT 1
    </select>

    <select id="getTotalOutBound" resultType="int">
        SELECT COUNT(id)
        FROM outbound
        WHERE id > 0
    </select>
</mapper>